// reset
@import "./Venders/reset";

*{
    box-sizing: border-box;
}

hr{
    margin: 0;
}

// helpers
@import "./Helpers/variants";
@import "./Helpers/helpers";

// layout
@import "./Layout/layout";

// components
@import "./Components/buttons";
@import "./Components/row";


body{
    background-color: $white;
}
