// helpers
@import "./Helpers/variants";

header{
    $outer-color-position: 50%;
    $outer-color: $color-brand-sub;

    position: relative;
    background-image: linear-gradient(90deg, transparent $outer-color-position, $outer-color $outer-color-position, $outer-color 100%);
    // overflow-x: hidden;
    
    .container{
        position: relative;
        background-image: url("../images/bg_home.svg");
        background-color: $white;
        background-position: 140% 0;
        background-repeat: no-repeat;
        min-height: 768px;

        &:after{
            $circle-size: 22.5rem;
            content: "";
            position: absolute;
            left: -$circle-size;
            bottom: -$circle-size/2;
            display: block;
            width: $circle-size;
            height: $circle-size;
            background-color: $color-brand;
            border-radius: 50%;
        }
    }

    .header-content, .content-text{
        display: flex;
    }

    .content-text{
        flex-direction: column;
        justify-content: center;
    }

    .content-text, .content-img{
        width: 50%;
    }
}

// section
#section-social{
    h4{
        margin: 1.5rem 0;
    }
    .img-social-logo{
        width: 5.635rem;
    }
}

#section-ch{
    .row{
        margin-top: 3rem;
    }
}

#section-feature{
    .content-feature {
        display: flex;
        align-items: center;
        > .item:nth-child(1){
            width: 60%;
        }
    }
    .card{
        margin: 0;
        padding: 1.5rem;
    }
    .row .item-card{
        width: 235px;
        margin-right: 3rem;
        &:nth-child(1), &:nth-child(2){
            padding-bottom: 1.75rem;
        }
    }
    .round{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5.375rem;
        height: 5.375rem;
    }
}



@media screen and (max-width: 1025px) {
    section:nth-child(1){
        margin-top: 25px;
    }
    header{
        .container{
            background-position: 200% 0;
            &:after {
                $circle-size: 18rem;
                width: $circle-size;
                height: $circle-size;
                left: -$circle-size/3*2;
                bottom: -$circle-size/6;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    header {
        .container {
            min-height: auto;
            background-position: 100% 100%;
            &:after {
                $circle-size: 9rem;
                width: $circle-size;
                height: $circle-size;
                left: -$circle-size/3*2;
                bottom: -$circle-size/2;
            }
        }
    }
    #section-social{
        .img-social-logo {
            width: 4.25rem;
        }
    }

    #section-ch{
        .row{
            justify-content: center;
            margin-top: 2rem;
        }
        .item{
            max-width: 292px;
        }
    }

    #section-feature {
        .content-feature {
            >.item:nth-child(1) {
                min-width: 55%;
            }
            .item-text {
                padding-left: 2rem;
            }
        }

        .card {
            margin: 0;
        }

        .row .item-card {
            width: 50%;
            margin: 0;
            &:nth-child(1), &:nth-child(2) {
                margin-bottom: .5rem;
            }
        }
    }
}

@media screen and (max-width: 880px) {
    header {
        .container {
            background-position: 100px 100%;
        }
    }
}

@media screen and (max-width: 767px) {
    header{
        &, .container{
            background: none;
        }
        .container{
            &:after {
                $circle-size: 7.5rem;
                width: $circle-size;
                height: $circle-size;
                left: -$circle-size/3*2;
                bottom: -15rem;
            }
        }
        .header-content{
            flex-direction: column;
            align-items: center;
        }
        .content-text{
            width: 100%;
            padding-top: 2rem;
        }
        .content-img{
            width: MIN(100%, 305px);
            margin-top: 2rem;
            background-image: url("../images/bg_home_sm.svg");
            background-size: contain;
            background-position: 100% 100%;
            background-repeat: no-repeat;

        }
    }

    // section
    section:nth-child(1){
        margin-top: 100px;
    }
    #section-social{
        h4{
            margin: 1rem 0;
        }
        .img-social-logo {
            width: 3.75rem;
        }
    }


    #section-ch{
        .card{
            min-height: 388px;
        }
    }


    #section-feature {
        .content-feature {
            flex-direction: column-reverse;
    
            >.item:nth-child(1) {
                width: MIN(100%, 230px);
            }
            .item-text{
                padding-left: 0;
                margin-bottom: 2.75rem;
                text-align: center;
                &:not(:last-child){
                }
            }
            .row .item-card {
                min-width: 100%;
                margin: 0;
            }
        }
    }
}
