html, body{
    height: 100%;
}

body{
    font-family: $font-family-base;
    font-size: $font-size-base;
    color: $color-body;
    line-height: 1.5;
}

.container{
    width: MIN(100%, 1125px);
    padding: 0 20px;
    margin: auto;
}

img{
    display: block;
}

.img-horizon > img{
    width: 100%;
}


.img-vertical > img{
    height: 100%;
}


.card{
    margin: auto;
    border-radius: .75rem;
    overflow: hidden;
    box-shadow: $box-shadow;
}



// header
header nav{
    // TODO: 最後再加 sticky 效果
    // position: sticky;
    // top: 0;
    padding: 1.5rem 0;
    .img-logo{
        height: 2.5rem;
    }
}

section{
    margin: 100px 0;
}


#btn-top{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    padding: 0;
    font-size: $font-size-18;
    font-family: $font-family-heighlight;
    text-align: center;
    box-shadow: $box-shadow;
    z-index: 100;
}




@media screen and (max-width: 991px) {
}


@media screen and (max-width: 767px) {
    header nav{
        border-bottom: 2px solid $color-brand-sub;
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
#btn-top{
    right: 1rem;
    bottom: 1rem;
    width: 3.125rem;
    height: 3.125rem;
    font-size: 0.875rem;
}
}

@media screen and (max-width: 390px) {
    header nav .img-logo{
        height: 2.2rem;
    }
}

@media screen and (max-width: 370px) {
    header nav .img-logo {
        height: 1.6rem;
    }
}