html, body{
    height: 100%;
}

body{
    font-family: $font-family-base;
    font-size: $font-size-base;
    color: $color-body;
    line-height: 1.5;
}

.container{
    width: MIN(100%, 1125px);
    padding: 0 20px;
    margin: auto;
}

hr{
    border: 0;
    border-top: 1px solid $gray-light;
}

small{
    font-size: .75rem;
}

img{
    display: block;
}

.img-horizon > img{
    width: 100%;
}


.img-vertical > img{
    height: 100%;
}


.card{
    margin: auto;
    border-radius: .75rem;
    box-shadow: $box-shadow;
}

.bg-circle {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

// header
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    border-bottom: 2px solid transparent;
    padding: 1.5rem 0;
    transition: $transition-base;
    z-index: 100;
    &.scrolling{
        border-color: $color-brand-sub;
        background-color: rgba($white, .9);
    }
    .img-logo{
        height: 2.5rem;
    }
}

section{
    margin: 100px 0;
}


#btn-top{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    padding: 0;
    font-size: $font-size-18;
    font-family: $font-family-heighlight;
    text-align: center;
    box-shadow: $box-shadow;
    z-index: 100;
}


.content-scroll-x{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    > div{
        display: block;
    }
}


@media screen and (max-width: 991px) {
}


@media screen and (max-width: 767px) {
    .navbar{
        border-color: $color-brand-sub;
    }
#btn-top{
    right: 1rem;
    bottom: 1rem;
    width: 3.125rem;
    height: 3.125rem;
    font-size: 0.875rem;
}
}

@media screen and (max-width: 390px) {
    .navbar .img-logo{
        height: 2.2rem;
    }
}

@media screen and (max-width: 370px) {
    .navbar .img-logo {
        height: 1.6rem;
    }
}