// Color system

$white: #fff !default;
$light: #F5F5F5 !default;
$gray-light: #DDDDDD  !default;
$gray: #747474 !default;
$dark: #221E1F !default;
$black: #000 !default;

$color-brand: #56C4C5 !default;
$color-brand-lighten: #B8E6E7 !default;
$color-brand-sub: #F6CB52 !default;

$color-highlight: #FF5D50 !default;

$color-body: $dark !default;

// box-shadow
$box-shadow: 0px 2px 10px rgba($black, .14);


// font
$font-size-12: .75rem      !default;    // 12px
$font-size-base: 1rem      !default;    // 16px
$font-size-18:   1.125rem  !default;    // 18px
$font-size-20:   1.25rem   !default;    // 20px
$font-size-24:   1.5rem   !default;     // 24px
$font-size-28:   1.75rem   !default;    // 28px
$font-size-32:   2rem      !default;    // 32px
$font-size-48:   3rem      !default;    // 48px

// 18 20 32 48

$font-family-base: "Noto Sans TC", "Noto Sans", Arial, Helvetica, sans-serif !default;
$font-family-heighlight: "Wendy One", sans-serif !default;
$font-family-number: "Comfortaa", sans-serif !default;


// transition
$transition-base: .3s;