// Color system

$white: #fff !default;
$gray-100: #F4F6FB !default;
$gray-200: #E9EBEF !default;
$gray-300: #DBE1EB !default;
$gray-400: #CFD3DA !default;
$gray-500: #ADBAD1 !default;
$gray-600: #7a87a2 !default;
$gray-700: #6E6F83 !default;
$gray-800: #3B4B5A !default;
$gray-900: #1B2936 !default;
$black: #000 !default;

$color-brand: #56C4C5 !default;
$color-highlight: #FF5D50 !default;

// font

$font-size-base: 1rem;

$font-family-base: "Noto Sans TC", "Noto Sans", Arial, Helvetica, sans-serif !default;
$font-family-heighlight: "Wendy One", sans-serif !default;


$transition-base: .3s;