// Color system

$white: #fff !default;
$gray-100: #F4F6FB !default;
$gray-200: #E9EBEF !default;
$gray-300: #DBE1EB !default;
$gray-400: #CFD3DA !default;
$gray-500: #ADBAD1 !default;
$gray-600: #7a87a2 !default;
$gray-700: #6E6F83 !default;
$gray-800: #3B4B5A !default;
$gray-900: #1B2936 !default;
$black: #000 !default;